.faq-container{
    padding-top: 2rem;
}
.grey{
    max-width: 20rem;
    margin: auto;
    text-align: center;
}
.faq-flex{
    display: flex;
}
.faqs{
    margin:3rem 20rem 0rem 20rem ;
    padding-bottom: 3rem;
}


.accordion-item {
  text-align: center;
  width: 90%;
}
.accordion-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  min-height: 3.5rem;
  cursor: pointer;
}
.accordion-item-title {
  color: #dae1f5;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
}

.accordion-item-body {
  max-height: fit-content;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  
}
.accordion-item-body-content{
  width: 80%;
  display: none;
  padding-top: 1em;
  /* color: var(--primary-text-color); */
  text-align: left;
}
.a11true, .a22true, .a33true, .a44true, .a55true {
  width: 80%;
  display: block;
  padding-top: 1em;
  /* color: var(--primary-text-color); */
  text-align: left;
  color: #f4f6fc;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid;
  width: 34px;
  height: 34px;
  color: #f7f8fc;
  transition: color 0.25s;
  position: relative;
  border-radius: 100%;
}
.icon:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #545d7a;
  border-radius: 20px;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}
.icon:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #545d7a;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.b11true::before, .b22true::before, .b33true::before, .b44true::before, .b55true::before {
  transform: rotate(180deg);
}
.b11true::after, .b22true::after, .b33true::after, .b44true::after, .b55true::after {
  transform: rotate(90deg);
}
.divider {
  width: 90%;
  height: 1px;
  margin: 10px 0 10px 0;
  background-color: #dae1f5;
}
.regbtn{
  display: flex;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}
.devf{
  height: 20px;
  padding-right: 0.2rem;
  margin-left: -0.7rem !important;
}
button {
  margin-top: 1.2em;
  padding: 0.6em 1.8em;
  border-radius: 5px;
  color: white;
  background: none;
  font-weight: 700;
  border: 2px solid #dae1f5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  background-color: #59DB8A;
}
.faq-foot{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}
.register-faq{
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width:900px) {
  .faqs{
    margin:3rem 1rem 0rem 2rem ;
    padding-bottom: 3rem;
}

}