.instructions-btn{
    text-align: center;
}
.instructions{
    margin: auto;
    text-decoration: none;
    color: white;
}
.fullInst{
    text-decoration: none;
    color: #fff;
}
.devt{
    color: #59DB8A;
    text-decoration: none;
}