@font-face{
  src: url("../assets/Quicksand.ttf");
  font-family: "Quicksand";
}
@font-face{
  src: url("../assets/NotoSans.ttf");
  font-family: "NotoSans";
}
@font-face{
  src: url("../assets/Poppins.ttf");
  font-family: "Poppins";
}

body {
   margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row{
  margin: 0;
  padding: 0;
}
.regButton{
   margin: auto;
   
}

*{
  transition: all 0.5s;
}
.footer{
  background-color: #f8f4f4;
  font-family: 'Quicksand';
  padding-top: 30px;
  padding-bottom: 30px;
}