@font-face{
  src: url("../assets/Quicksand.ttf");
  font-family: "Quicksand";
}
@font-face{
  src: url("../assets/NotoSans.ttf");
  font-family: "NotoSans";
}
@font-face{
  src: url("../assets/Poppins.ttf");
  font-family: "Poppins";
}



body {
   margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row{
  margin: 0;
  padding: 0;
}
.regButton{
   margin: auto;

}

*{
  transition: all 0.5s;
}
.footer{
  background-color: #260404 !important;
  font-family: 'Poppins';
  padding-left: 2vw;
  padding-top: 6vh;
}

.first{
    padding-right: 120px;
}

.second{
    padding-left: 6vw;
    border-left: 2px solid rgba(255,255,255,0.4);
    margin-right: 0px;
    margin-top: 3vh;
    height: 450px;
}

.second h5{
    color: #2286E0;
}

.third{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.third h3{
    color: #2286E0;
}
.copyright{
    padding-bottom: 20px;
    padding-right: 10px;
}

.logo{
    padding: 10px;
    height: 5.5rem;
}

@media (max-width: 850px) {
    .second{
        padding-left: 4rem;
    }
    .first{
        padding-right: 50px;
    }
    .copyright{
        padding-top: 5vh;
        text-align: center;
    }
}

@media (max-width: 770px) {
    .footer{
        align-self: center;
    }
    .first{
        padding: 0;
        margin: 0;
        padding-bottom: 50px;
        border-bottom: 2px solid white;
        width: 75%
    }
    .second{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        margin: 50px 0;
        border-left: 0;
        align-items: center;
    }

}
