@font-face{
  src: url("../assets/Quicksand.ttf");
  font-family: "Quicksand";
}

body {
   margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row{
  margin: 0;
  padding: 0;
}
.regButton{
   margin: auto;
   
}

