
.nav-link {
  font-family: "Quicksand";
  font-weight: 600;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
}

.wrap {
  background: url("../images/main.png") no-repeat center center;
  background-size: auto;
  background-size: cover;
  height: 100vh;
}
.logowrap {
  height: calc(100vh - 120px);
}
.wrap > img {
  height: auto;
}
.nav-link:hover {
  color: #700404;
}
img {
  max-height: 65vh;
}
.bulb {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -1;
  max-height: 20vh;
}
.stack {
  position: absolute;
  bottom: 0;
  margin-left: -5vh;
  z-index: -1;
  max-height: 20vh;
}
.htext {
  font-family: "Quicksand";
  color: #0e538c;
  margin: auto;
}

/* About Section */
#about {
  background-color: #f9f9f9;
  margin-top: 10vh;
  padding-bottom: 10vh;
  padding-top: 15vh;
}

/* .abouttxt {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: bold;
  line-height: 130.2%;

  letter-spacing: 0.15em;

  color: #490001;
} */
.idea {
  max-height: 45vh;
}

/* Stack Row */
#stacks {
  background-color: #0f0000;
}
.stackrow > div {
  margin-top: 10vh;
}
.stackrow > h1 {
  margin-top: 10vh;
  color: #fff8f8;
  font-family: "Quicksand";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Contact Us */
label {
  color: #700404;
}
#contact,.footer {
  background-color: #0f0000;
}
.footer{
  color: #ffffff;
}
.contactrow > h1 {
  margin-top: 10vh;
  color: #fff8f8;
  font-family: "Quicksand";
  font-size: 2.5rem;
  font-weight: bold;
}
label{
  color:#fff8f8;
}
