.level2-heading{
    text-align: center;
    color: white;
    margin: 1rem 0;
}
.sponsor-bp{
    height: 6rem;
    width: 13rem;
    border-radius: 0.75rem;
    background-color: white;
    margin: 2rem;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sponsor-bp img{
    max-height: 100%;
    width: 100%;
    object-fit:cover;
    z-index: 2;
}
.platinum-cont{
    display:flex ;
    flex-wrap: wrap;
    margin: 0 8rem; 
    justify-content:space-evenly;
}
.platinum{
 margin-top: 2rem;
}
.gold{
    color:gold;
}
.silver{
    color: silver;
}
.enquire-sponsors-cont{
    background-color: #1C172F;
    margin: 2rem 16rem;
    border-radius: 2rem;
    padding: 2rem 0;
    text-align: center;
}
.last-yr-sponsors{
    font-size: 1.2rem;
    margin: 1.2rem 0;
}
.last-yr-sponsors a:link, .last-yr-sponsors a:visited, .last-yr-sponsors a:hover, .last-yr-sponsors a:active {
    color: rgb(56, 199, 99);
    text-decoration: none;
}
.sponsor-brochure-btn{
    margin-top:2rem;
}
.mail-id{
    color: rgb(43, 116, 226);
    text-decoration: none;
}
.dnld-sponsor-broc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17rem;
    margin: auto;
    text-align: center;
}

@media screen and ( max-width:1000px){
    .enquire-sponsors-cont{
    margin: 2rem 2rem;
}
.platinum-cont{
    margin: 0 2rem;
}
}

@media screen and ( max-width:900px){
    .enquire-sponsors-cont{
    margin: 2rem 0.1rem;
}
.platinum-cont{
    margin: 0 2rem;
}
.sponsor-bp{
    height: 5rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: white;
    margin: 1rem 0.3rem 1rem 0.3rem;
}
}
